{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Editar Diretor: {{ diretor.nome }}</h2>
    <form method="post" enctype="multipart/form-data"> {# Novamente, enctype para upload de arquivos #}
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Salvar Alterações</button>
        <a href="{% url 'diretores:detalhar_diretor' diretor.id %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock content %}