{% extends "base.html" %}

{% block content %}

{% if form.errors%}
   <p>Se login e senha estão incorretos. Por favor, tente novamente</p>
{% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button name="submit">Entrar</button>
        <input type="hidden" name="next" value="{% url 'index' %}">

    </form>
    <p><a href="{% url 'register' %}">Cadastre-se aqui</a></p>
    <p><a href="{% url 'password_reset' %}">Esqueceu sua senha?</a></p>

{% endblock content%}