{% extends "base.html" %}

{% block content %}

<h1>Cadastro de Usuário</h1>

{% if form.errors %}
   <p style="color: red;">Por favor, corrija os erros abaixo:</p>
   {{ form.errors }}
{% endif %}

<form action="{% url 'register' %}" method="post">
    {% csrf_token %}
    
    <div>
        <label for="{{ form.username.id_for_label }}">Nome de usuário:</label>
        {{ form.username }}
    </div>
    
    <div>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" placeholder="Digite seu email">
    </div>
    
    <div>
        <label for="{{ form.password1.id_for_label }}">Senha:</label>
        {{ form.password1 }}
    </div>
    
    <div>
        <label for="{{ form.password2.id_for_label }}">Confirmar Senha:</label>
        {{ form.password2 }}
    </div>

    <div>
        <button type="submit">Cadastrar</button>
    </div>
    <input type="hidden" name="next" value="{% url 'index' %}">
</form>

<hr>

<p><a href="{% url 'login' %}">Já tem uma conta? Faça login</a></p>
<p><a href="{% url 'index' %}">Voltar ao catálogo</a></p>

{% endblock content %}