{% extends "base.html" %}

{% block content %}
<h1>Catálogo de Filmes</h1>

{% if user.is_authenticated and user.groups.all %}
  {% for group in user.groups.all %}
    {% if group.name == 'Administradores' %}
      <p><a href="{% url 'addFilme' %}">Adicionar Filme</a></p>
    {% endif %}
  {% endfor %}
{% endif %}

<ul>
  {% for filme in filmes %}
    <li>
      <strong>{{ filme.titulo }}</strong> - {{ filme.ano_publicacao }}
      <div>
        {% if filme.poster %}
          <img src="{{ filme.poster.url }}" alt="Poster de {{ filme.titulo }}" width="200">
        {% else %}
          <p><em>Sem imagem disponível.</em></p>
        {% endif %}
      </div>
      
      <br>
      <a href="{% url 'detalhes_filme' filme.id %}">Detalhes</a>
      
      {% if user.is_authenticated and user.groups.all %}
        {% for group in user.groups.all %}
          {% if group.name == 'Administradores' %}
            | <a href="{% url 'editar_filme' filme.id %}">Editar</a>
            | <a href="{% url 'delete' filme.id %}">Deletar</a>
          {% endif %}
        {% endfor %}
      {% endif %}
    </li>
  {% empty %}
    <li>Nenhum filme cadastrado ainda.</li>
  {% endfor %}
</ul>

{% endblock content%}
